<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = .\SQLEXPRESS;&#xD;&#xA;         Initial Catalog=Андреев_Липатова;&#xD;&#xA;         Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="FormsAndreev.Properties.Settings.Андреев_ЛипатоваConnectionString"
        connectionString="Data Source=.\;Initial Catalog=Андреев_Липатова;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>